<html>
<head>
  <link rel="stylesheet" type="text/css" href="https://steemit.com/assets/app-dcf10abf08c5c0710888.css">
</head>
<body>
<div style="max-width: 40rem;padding: 1rem 0 2rem; margin: 0 auto;">

  <table>
  <tbody>
  <tr>
    <td>
      <div>
        <table>
          <tbody>
          <tr>
            <td>
              <table>
                <tbody>
                <tr>
                  <td>
                    <a href="http://alistapart.com/article/can-email-be-responsive/" rel="nofollow noopener"><img src="https://steemitimages.com/0x0/https://raw.githubusercontent.com/rodriguezcommaj/salted/master/img/logo.jpg" alt="Logo"></a>
                  </td>
                  <td>
                    <table>
                      <tbody><tr>
                        <td>
                          <b>Utopian.io - Rewarding Open Source Contributors with Steem</b><br/>
                          <b>WELCOME TO THIS UTOPIAN WEEKLY</b>
                        </td>
                      </tr>
                      </tbody></table>
                  </td>
                </tr>
                </tbody>
              </table>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </td>
  </tr>
  </tbody>
  </table>
  <table>
    <tbody>
    <tr>
      <td>
        <table>
          <tbody><tr>
            <td>
              <table>
                <tbody><tr>
                  <td>
                    <table>
                      <tbody>
                      <tr>
                        <td>
                          <table>
                            <tbody><tr>
                              <td>
                                <center>
                                <a href="http://alistapart.com/article/can-email-be-responsive/" rel="nofollow noopener"><img src="https://steemitimages.com/0x0/https://raw.githubusercontent.com/rodriguezcommaj/salted/master/img/responsive-email.jpg" alt="Can an email really be responsive?"></a>
                                </center>
                              </td>
                            </tr>
                            </tbody></table>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td>
                    <table>
                      <tbody><tr>
                        <td>Yes. Email can be responsive, too.</td>
                      </tr>
                      <tr>
                        <td>Using fluid structures, fluid images, and media queries, we can make email (nearly) as responsive as modern websites.</td>
                      </tr>
                      </tbody></table>
                  </td>
                </tr>
                <tr>
                  <td>
                    <table>
                      <tbody><tr>
                        <td>
                          <table>
                            <tbody><tr>
                              <td><a href="http://alistapart.com/article/can-email-be-responsive/" rel="nofollow noopener">Learn How &amp;rarr;</a></td>
                            </tr>
                            </tbody></table>
                        </td>
                      </tr>
                      </tbody></table>
                  </td>
                </tr>
                </tbody></table>
            </td>
          </tr>
          </tbody></table>
      </td>
    </tr>
    </tbody></table>
  <table>
    <tbody><tr>
      <td>
        <table>
          <tbody><tr>
            <td>
              <table>
                <tbody><tr>
                  <td>
                    <table>
                      <tbody><tr>
                        <td>Mobile opens are at 48%</td>
                      </tr>
                      <tr>
                        <td>With an increasingly mobile audience, can you really afford to keep sending emails designed for desktop?</td>
                      </tr>
                      </tbody></table>
                  </td>
                </tr>
                <tr>
                  <td>
                    <table>
                      <tbody><tr>
                        <td>
                          <table>
                            <tbody><tr>
                              <td><a href="http://alistapart.com/article/can-email-be-responsive/" rel="nofollow noopener">Hell No &amp;rarr;</a></td>
                            </tr>
                            </tbody></table>
                        </td>
                      </tr>
                      </tbody></table>
                  </td>
                </tr>
                <tr>
                  <td>
                    <table>
                      <tbody><tr>
                        <td>
                          <a href="http://alistapart.com/article/can-email-be-responsive/" rel="nofollow noopener"><img src="https://steemitimages.com/0x0/https://raw.githubusercontent.com/rodriguezcommaj/salted/master/img/line-graph.jpg" alt="Mobile opens are on the rise"></a>
                        </td>
                      </tr>
                      </tbody></table>
                  </td>
                </tr>
                </tbody></table>
            </td>
          </tr>
          </tbody></table>
      </td>
    </tr>
    </tbody></table>
  <table>
    <tbody><tr>
      <td>
        <table>
          <tbody><tr>
            <td>
              <table>
                <tbody><tr>
                  <td>How does it work?</td>
                </tr>
                <tr>
                  <td>Responsive email works on the same principles as RWD:</td>
                </tr>
                </tbody></table>
            </td>
          </tr>
          <tr>
            <td>
              <table>
                <tbody><tr>
                  <td>
                    <table>
                      <tbody><tr>
                        <td>
                          <table>
                            <tbody><tr>
                              <td><a href="http://alistapart.com/article/can-email-be-responsive/" rel="nofollow noopener"><img src="https://steemitimages.com/0x0/https://raw.githubusercontent.com/rodriguezcommaj/salted/master/img/fluid-images.jpg" alt="Fluid images"></a></td>
                            </tr>
                            <tr>
                              <td>Fluid Images</td>
                            </tr>
                            <tr>
                              <td><b><b>max-width:100%</b> is your friend, just like on the web.</b></td>
                            </tr>
                            </tbody></table>
                        </td>
                      </tr>
                      </tbody></table>
                    <table>
                      <tbody><tr>
                        <td>
                          <table>
                            <tbody><tr>
                              <td><a href="http://alistapart.com/article/can-email-be-responsive/" rel="nofollow noopener"><img src="https://steemitimages.com/0x0/https://raw.githubusercontent.com/rodriguezcommaj/salted/master/img/fluid-structure.jpg" alt="Fluid structures"></a></td>
                            </tr>
                            <tr>
                              <td>Fluid Structure</td>
                            </tr>
                            <tr>
                              <td><b>You can use percentage-based tables, too. Don&amp;rsquo;t touch <em>ems</em>, though.</b></td>
                            </tr>
                            </tbody></table>
                        </td>
                      </tr>
                      </tbody></table>
                  </td>
                </tr>
                </tbody></table>
            </td>
          </tr>
          <tr>
            <td>
              <table>
                <tbody><tr>
                  <td>
                    <table>
                      <tbody><tr>
                        <td>
                          <table>
                            <tbody><tr>
                              <td><a href="http://alistapart.com/article/can-email-be-responsive/" rel="nofollow noopener"><img src="https://steemitimages.com/0x0/https://raw.githubusercontent.com/rodriguezcommaj/salted/master/img/media-queries.jpg" alt="Media queries"></a></td>
                            </tr>
                            <tr>
                              <td>Media Queries</td>
                            </tr>
                            <tr>
                              <td><b>They don&amp;rsquo;t work everywhere, but when they do&amp;hellip;</b></td>
                            </tr>
                            </tbody></table>
                        </td>
                      </tr>
                      </tbody></table>
                    <table>
                      <tbody><tr>
                        <td>
                          <table>
                            <tbody><tr>
                              <td><a href="http://alistapart.com/article/can-email-be-responsive/" rel="nofollow noopener"><img src="https://steemitimages.com/0x0/https://raw.githubusercontent.com/rodriguezcommaj/salted/master/img/bulletproof-buttons.jpg" alt="Bulletproof buttons"></a></td>
                            </tr>
                            <tr>
                              <td>Bulletproof Buttons</td>
                            </tr>
                            <tr>
                              <td><b>Don&amp;rsquo;t use images for buttons. There&amp;rsquo;s a better way.</b></td>
                            </tr>
                            </tbody></table>
                        </td>
                      </tr>
                      </tbody></table>
                  </td>
                </tr>
                </tbody></table>
            </td>
          </tr>
          </tbody></table>
      </td>
    </tr>
    </tbody></table>
  <table>
    <tbody><tr>
      <td>
        <table>
          <tbody><tr>
            <td>Resources for learning more</td>
          </tr>
          <tr>
            <td><a href="https://litmus.com/community" rel="nofollow noopener"><img src="https://steemitimages.com/0x0/https://raw.githubusercontent.com/rodriguezcommaj/salted/master/img/litmus-logo.jpg" alt="Litmus"></a></td>
            <td>
              <table>
                <tbody><tr>
                  <td>Litmus Community</td>
                </tr>
                <tr>
                  <td>A growing community for email professionals</td>
                </tr>
                <tr>
                  <td>Share knowledge, ask code questions, and learn from a growing library of articles on all things email.</td>
                </tr>
                <tr>
                  <td>
                    <table>
                      <tbody><tr>
                        <td>
                          <table>
                            <tbody><tr>
                              <td>
                                <table>
                                  <tbody><tr>
                                    <td><a href="https://litmus.com/community" rel="nofollow noopener">Learn More &amp;rarr;</a></td>
                                  </tr>
                                  </tbody></table>
                              </td>
                            </tr>
                            </tbody></table>
                        </td>
                      </tr>
                      </tbody></table>
                  </td>
                </tr>
                </tbody></table>
            </td>
          </tr>
          <tr>
            <td><a href="http://templates.mailchimp.com" rel="nofollow noopener"><img src="https://steemitimages.com/0x0/https://raw.githubusercontent.com/rodriguezcommaj/salted/master/img/mailchimp-logo.jpg" alt="Freddie!"></a></td>
            <td>
              <table>
                <tbody><tr>
                  <td>MailChimp Template Reference</td>
                </tr>
                <tr>
                  <td>A stunning introduction to email design and coding</td>
                </tr>
                <tr>
                  <td>MailChimp&amp;rsquo;s Fabio Carneiro unleashes an amazing resource for learning more about all aspects of email design.</td>
                </tr>
                <tr>
                  <td>
                    <table>
                      <tbody><tr>
                        <td>
                          <table>
                            <tbody><tr>
                              <td>
                                <table>
                                  <tbody><tr>
                                    <td><a href="http://templates.mailchimp.com" rel="nofollow noopener">Learn More &amp;rarr;</a></td>
                                  </tr>
                                  </tbody></table>
                              </td>
                            </tr>
                            </tbody></table>
                        </td>
                      </tr>
                      </tbody></table>
                  </td>
                </tr>
                </tbody></table>
            </td>
          </tr>
          <tr>
            <td><a href="http://www.campaignmonitor.com/resources/" rel="nofollow noopener"><img src="https://steemitimages.com/0x0/https://raw.githubusercontent.com/rodriguezcommaj/salted/master/img/campaign-monitor-logo.jpg" alt="Campaign Monitor"></a></td>
            <td>
              <table>
                <tbody><tr>
                  <td>Campaign Monitor Guides</td>
                </tr>
                <tr>
                  <td>A fantastic library of information</td>
                </tr>
                <tr>
                  <td>Campaign Monitor puts out some amazing resources. These guides, as well as their Ultimate Guide to CSS, are constant companions.</td>
                </tr>
                <tr>
                  <td>
                    <table>
                      <tbody><tr>
                        <td>
                          <table>
                            <tbody><tr>
                              <td>
                                <table>
                                  <tbody><tr>
                                    <td><a href="http://www.campaignmonitor.com/resources/" rel="nofollow noopener">Learn More &amp;rarr;</a></td>
                                  </tr>
                                  </tbody></table>
                              </td>
                            </tr>
                            </tbody></table>
                        </td>
                      </tr>
                      </tbody></table>
                  </td>
                </tr>
                </tbody></table>
            </td>
          </tr>
          </tbody></table>
      </td>
    </tr>
    </tbody></table>
  <table>
    <tbody><tr>
      <td>
        <table>
          <tbody><tr>
            <td>
              <table>
                <tbody><tr>
                  <td>
                    <b>1234 Main Street, Anywhere, MA 01234, USA</b><br><a href="#" rel="nofollow noopener">Unsubscribe</a><b>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</b><a href="#" rel="nofollow noopener">View this email in your browser</a>
                  </td>
                </tr>
                </tbody></table>
            </td>
          </tr>
          </tbody></table>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
